*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


header {
  min-height: 100px;
  width: 100%;
  padding: 1rem;
  background-color: #181818;
  text-align: center;
}
header .h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}
body {
  background-color: #ffff;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  --color1: #fff;
  --color2: #181818;
}
.search{
  float: right;
}

  body a {
    text-decoration: none;
    color: rgb(0, 116, 124);
  }
  body a:hover {
    text-decoration: underline;
    color: rgb(0, 186, 200);
  }


  body .hero-title {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #fcfafaa4;
    margin: 40px 0;
    padding-left: 15vh;
    padding-right: 15vh;
    -webkit-text-stroke: 0.3vw #ffff;

  }
  body .hero-title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(0, 186, 200);
    -webkit-text-stroke: #ffff;
    border-right: 2px solid rgb(0, 186, 200);
    overflow: hidden;
    animation: animate 9s linear infinite;

  }
  @keyframes animate {
    0%,10%,100%{
      width: 0;
    }
    70%,90%
    {
      width: 100%;
    }
  }

  
  body .hero-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(135, 135, 135);
    margin: 40px;
    padding-bottom: 5vh;
  }
  #home{
    border-bottom:  solid rgb(224, 222, 222) 1px
  }
  
  body .board-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: rgb(0, 116, 124);
  }
  
  body p.board-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(135, 135, 135);
  }
  body ul.board-description {
    list-style-type: disc;
    margin-left: 30px;
  }
  body ul.board-description li {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(135, 135, 135);
    padding-left: 5px;
  }
  body .center-txt {
    text-align: center;
  }
  body .footer {
    min-height: 100px;
    width: 100%;
    background-color: #353535;
    text-align: center;
  }
  body .footer .copyright {
    color: #f1f1f1;
  }
  .maintain {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20vh;
    display: flex;
  }
  .cover{
    margin-bottom: 10vh;
    padding-bottom: 20vh;
    border-bottom: solid rgb(224, 222, 222) 1px ;
  }
  .Sflip {
    float: left;
    display: grid;
    margin-right: 18vh;
  }
  
  .A {
    width: 250px;
    height: 450px;
    margin-left: 0px;
    background-color: rgb(221, 200, 173);
    border-radius: 20px;
    padding: 35px;
    padding-top: 18vh;
  }
  .hi{
    font-weight: 800;
    color: rgb(22, 22, 80);
    font-display: block;
    font-size: 20px;
    
  }
  .B {
    width: 250px;
    height: 450px;
    margin-left: 5vh;
    background-color: rgb(224, 212, 196);
    border-radius: 20px;
    padding: 35px;
    padding-top: 18vh;
    padding-bottom: 100px;
  }
  .hii{
    font-weight: 800;
    color: rgb(22, 22, 80);
    font-display: block;
    font-size: 20px;
    
  }
  .C {
    width: 250px;
    height: 450px;
    margin-left: 5vh;
    background-color: rgb(197, 224, 191);
    border-radius: 20px;
    padding: 35px;
    padding-top: 18vh;
  }
  .hiii{
    font-weight: 800;
    color: rgb(22, 22, 80);
    font-display: block;
    font-size: 20px;
    padding-bottom: 10px;
    
  }
  .D {
    width: 250px;
    height: 450px;
    margin-left: 5vh;
    background-color: rgb(187, 207, 223);
    border-radius: 20px;
    padding: 35px;
    padding-top: 18vh;
  }
  .hiiii{
    font-weight: 800;
    color: rgb(22, 22, 80);
    font-display: block;
    font-size: 20px;
    
  }
  .Many {
    margin-top: 20vh;
    display: flexbox;
    margin-left: 17vh;
  }
  .Aa {
    width: 320px;
    height: 840px;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: 10vh;
    margin-left: 5vh;
    background-color: #ffff;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    float: left;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  }
  .Hh{
    color: rgb(35, 35, 138);
    font-weight: 800;
    font-size: 20px;

  }
  .bace{
    font-size: 45px;
    font-weight: 700;
    color: rgb(35, 35, 138);
    border-top: solid rgb(224, 222, 222) 1px;
    border-bottom: solid rgb(224, 222, 222) 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-top: 5vh;
  }
  .pace{
    color: rgb(82, 120, 161);
    padding-top: 5vh;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
  }
  button{
    color: #ffff;
    background-color: #4848c4;
    border-radius: 30px;
    border-color: #4848c4;
    padding: 2vh;
    width: 30vh;
    margin-top: 4vh;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
    button:hover{
    background-color: yellowgreen;
    transition: 0.5s;
    border-color: yellowgreen;
  }
  .Git {
    margin-top: 20vh;
    margin-bottom: 10vh;
    width: 100%;
    height: 70vh;
    padding: 10vh;
    padding-bottom: 10vh;
    background-color: #e6e6fa;
  }

  #pass{
    float: left;
    padding-left: 10vh;
  }

  .git{
    float: right;
  }
  
  .big {
    float: right;
  }

  .section {
    background: linear-gradient(rgb(245, 245, 245), rgba(0, 0, 0, 0.05));
    min-height: calc(100vh - 10px);
    width: 100%;
    position: relative;
  }
  .section .container {
    width: 1050px;
    gap: 50px;
    flex-wrap: wrap;
    margin: 60px 0 100px;
  }

  .section .container .board.medium {
    width: 500px;
  }
  
    .center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
  }
  .contact .content {
    max-width: 800px;
    text-align: center;
  }
  .contact h4 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 5vh;
  }
  .contact p {
    font-weight: 500;
    color: #fff;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  .container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  }
  .container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

  }
  .container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
  }
  .contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
  }
  .contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
  }
  .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;    
  }
  .contactForm .inputBox input, 
  .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  .contactForm .inputBox input:hover, 
  .contactForm .inputBox textarea:hover {
    background-color: #c9c4c4;
    transition: 0.5s;
    color: #181818;

  }
  .contactForm .inputBox span {
    position: absolute;
    left: 9px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    top: 0;
  }
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .contactForm .inputBox input[type="submit"]
  {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  .contactForm .inputBox input[type="submit"]:hover
  {
    background-color: #036a77;
    transition: 0.5s;

  }
  @media (max-width: 991px)
  {
    .contact {
      padding: 50px;
    }
    .container {
      flex-direction: column;
    }
    .container .contactInfo {
      margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm {
      width: 100;
    }
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    margin-right: 5px;
    vertical-align: middle;
  }
   